@import '@/node_modules/materialize-css/sass/materialize.scss';
html * {
    font-family: 'Prompt', sans-serif
}
.brand-logo {
    font-weight: bold;
}
#card-content{
    padding: 6px 12px;
}

#Month {
    font-size: 12em;
    line-height: 120px;
}

#card-item {
    margin: 3px 0;
    padding: 0 0;
}