@import "~bulma/sass/utilities/_all.sass";
@import "~bulma/sass/utilities/initial-variables.sass";
@import "~bulma/bulma.sass";

$main_color: #e36b00;
$basic_text: #ffffff;
$basic_text_dark: #b95903;
$background_dark: hsl(30, 30, 25);
$color_b: hsl(30, 30, 30);
$wrap: 740px;

html{
  a {
    color: $basic_text;
    &:hover {
      color: $basic_text;
    }
  }
}
aside {
  color: white;
  background-color: $color_b;
  .menu-label {
    color: hsl(0, 3, 80)
  }
  .menu-list {
      li > a {
      color: $basic_text;
      &:hover {
        background-color: $background_dark;
        color: white;
        text-shadow: hsl(30, 30, 10);
      }
    }
  }
}